{% extends '../main/layout.html' %}
{% block main %}
<div class="container">
  <h3>管理员用户已上线功能：</h3>
  <div class="row img-wraper">
    <div class="col-xs-6 col-md-3">
      <figure class="u-fig">
        <img class="img-responsive" src="/img/admin_fature_1.jpg"  alt="已注册用户信息查看">
        <figcaption class="figcaption-hover-style">
          <a href="/admin/user">已注册用户查看</a>
        </figcaption>
      </figure>
    </div>

    <div class="col-xs-6 col-md-3">
      <figure class="u-fig">
        <img class="img-responsive" src="/img/admin_fature_2.jpg"  alt="发布新事物">
        <figcaption class="figcaption-hover-style">
          <a href="/admin/infos">发布新事物</a>
        </figcaption>
      </figure>
    </div>

    <div class="col-xs-6 col-md-3">
      <figure class="u-fig">
        <img class="img-responsive" src="/img/admin_fature_3.jpg"  alt="事务管理中心">
        <figcaption class="figcaption-hover-style">
          <a href="/admin/infos/manage">事务管理中心</a>
        </figcaption>
      </figure>
    </div>

    <div class="col-xs-6 col-md-3">
      <a href="/admin/infos" class="thumbnail">
        <img src="/img/admin_fature_2.jpg" alt="事务管理中心">
        <p><span class="img-text">事务管理中心</span></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_3.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
    <li>
      <img src="" alt="">
      <p></p>
    </li>
    <div class="col-xs-6 col-md-3">
      <a href="javascript:;" class="thumbnail">
        <img src="/img/admin_fature_4.jpg" alt="用户列表查看">
        <p><a href="/admin/user" class="img-text">已注册用户查看</a></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_4.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_4.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_1.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_3.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/img/admin_fature_2.jpg" alt="用户列表查看">
        <p><span class="img-text">已注册用户查看</span></p>
      </a>
    </div>
  </div>
</div>
{% endblock %}