/* footer固定在底部 */
html {
  height: 100%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* i标签 */
i.fa:hover {
  cursor: pointer;
  color: #ef8222;
}

/* 导航字体颜色 */
.nav-font-color a{
  color: #9d9d9d;;
}

/* 导航字体大小*/
.nav-font-size {
  font-size: 16px;
}

/* 导航i标签大小、颜色 */
.nav-i {
  font-size: 20px;
  color: #9d9d9d;
}
/* -- 预定义样式结束 -- */

/* 头部 */
header {
  background-color: #797373;
}
.logo {
  width: 120px;
  height: 93px;
  background: url("../img/logo.png");
}
ul.nav, .member-center {
  margin-top: 35px;
}

/* 头部结束 */

/* 底部 */
footer {
  padding: 40px;
  background-color: #797373;
}

.footer-link li {
  line-height: 25px;
  color: #fff;
}

/* section h2 */
section h2 {
  text-align: center;
}

/* 滚动到顶部 */
.scroll-top {
  display: none;
  position: fixed;
  font-size: 40px;
  right: 30px;
  bottom: 20px;
  opacity: 0;
  transition: all .35s;
  color: #ccc;
}
.scroll-top-show {
  opacity: 1;
  display: block;
}
/* 滚动到顶部 */

.g-tips {
  position: absolute;
  left: 50%;
  top: 20px;
  background: #695150;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
}