{% extends './layout.html' %}
{% block main %}
<section class="about-section">
  <h2>我们有值得你信赖的三大特点</h2>
</section>
<div class="container">
  <article class="about-article">
    <div class="row">
      <div class="col-md-6">
        <span class="about-span">目的性</span>
      </div>
      <div class="col-md-6">
        <p class="about-p">主要针对需要经常接收或者发布信息的人群(例如：企业、学校等对事务要求高的单位)</p>
      </div>
    </div>
  </article>
</div>
<div class="bgc">
  <div class="container">
    <article class="about-article">
      <div class="row">
        <div class="col-md-6">
          <p class="about-p about-p-odd">功能针对性强，没有杂七杂八的功能降低用户体验，用户可快速定位自己需要的功能，操作简单易上手</p>
        </div>
        <div class="col-md-6">
          <span class="about-span">简单性</span>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="container">
  <article class="about-article">
    <div class="row">
      <div class="col-md-6">
        <span class="about-span">高性能</span>
      </div>
      <div class="col-md-6">
        <p class="about-p">数据库采用MongoDB，拥有适量级内存的MongoDB性能是非常高的、读写迅速，从而提高整体效率。</p>
      </div>
    </div>
  </article>
</div>
{% endblock %}